@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* font-family: 'Comic Neue', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}

body {
    background-color: white;
    font-family: "Comic Neue", cursive, sans-serif;
}

:root {
    scroll-behavior: smooth;
    --color-about: #282828;
    --color-normal: #0000;
    --main-color: #251675;
}

img {
    max-width: 100%;
}


/* utilities   */

ul li img {
    width: 30px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
    overflow: hidden;
}

.flex {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 0.5em;
}

nav {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 1.5em;
    color: rgba(0, 0, 0, 0.5);
}

nav:hover,
nav:focus {
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro>.intro-about h3 {
    font-size: 3em;
}

.intro .intro-image {
    margin-top: 2em;
}

.about .container h1 {
    font-size: 2.5em;
    margin: 0.65em;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.about .container p {
    font-size: 1.5em;
    margin: 0 auto;
    word-spacing: 0.45em;
    margin-bottom: 1.5em;
}

.about .container p span {
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
}

.skills h1 {
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    font-size: 2.5em;
}

.skills h3 {
    text-align: center;
    margin-bottom: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 0.75em;
    border-radius: 20px;
}

.skills ul {
    margin: 2em auto;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
}

.skills ul li {
    height: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3em 0.5em;
    border-radius: 20px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 32%;
    min-width: 300px;
    transition: 0.3s all ease-in-out;
    text-align: center;
}

.skills ul li:hover,
.skills ul li:focus {
    background-color: black;
}

.education {
    margin-bottom: 1.2em;
}

.education h1 {
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    font-size: 2.5em;
}

.education h3 {
    font-size: 1.4em;
}

small {
    margin: 0.25em;
    font-size: larger;
    display: block;
    text-align: center;
}

.contact .container {
    text-align: center;
}

.contact h1 {
    text-align: left;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    font-size: 2.5em;
}

form div {
    margin: 0.75em 0;
    font-weight: bold;
}

form input {
    text-align: center;
    font-size: 1.2em;
    display: inline-block;
}


/* input, */

input:hover,
input:focus,
input:active,
textarea {
    outline: none;
    border: 1px solid black;
}


/*  / UTILITIES /  */


/* FOOTER */

footer {
    margin-top: 1em;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
    font-size: 1.2em;
}

.icons {
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5em;
}

.icons i {
    font-size: 1.5em;
    color: var(--main-color);
    margin-right: 0.5em;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.icons i:hover,
.icons i:focus {
    transform: translateY(-15%) scale(1.2);
}

button {
    display: block;
    color: white;
    background-color: black;
    padding: 0.35em 0.70em;
    outline: none;
    text-align: center;
    margin: .5em auto;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

border button:hover,
button:focus,
button:active {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(0.9);
    border: none;
}
